<!DOCTYPE html>
<html>
    <head>
        <title>Application Form...</title>
    </head>
    <body>
        <h1>This is Sample Form Data...</h1>
        <form action="/postdata" method="post">
            <label style="width: 120px; display: inline-block;">Name:</label><input type="text" name="userName" /><br/><br/>
            <label style="width: 120px; display: inline-block;">Age:</label><input type="text" name="userAge" /><br/><br/>
            <label style="width: 120px; display: inline-block;">Designation:</label><input type="text" name="userDesignation" /><br/><br/>
            <input type="submit" value="Submit Data" />
        </form>
    </body>
</html>